[project]
	description = impress (bartaz) with substeps (tehfoo)...
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Carlo Bellettini (carlobellettini)
[access "refs/for/refs/*"]
	read = group user/Carlo Bellettini (carlobellettini)
	push = group user/Carlo Bellettini (carlobellettini)
	label-Code-Review = -2..+2 group user/Carlo Bellettini (carlobellettini)
	label-Verified = -1..+1 group user/Carlo Bellettini (carlobellettini)
	rebase = group user/Carlo Bellettini (carlobellettini)
	removeReviewer = group user/Carlo Bellettini (carlobellettini)
	submit = group user/Carlo Bellettini (carlobellettini)
[access "refs/heads/*"]
	read = group user/Carlo Bellettini (carlobellettini)
	create = group user/Carlo Bellettini (carlobellettini)
	push = +force group user/Carlo Bellettini (carlobellettini)
	pushMerge = group user/Carlo Bellettini (carlobellettini)
[access "refs/tags/*"]
	push = +force group user/Carlo Bellettini (carlobellettini)
	pushTag = group user/Carlo Bellettini (carlobellettini)
	pushSignedTag = group user/Carlo Bellettini (carlobellettini)
